@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.common-font {
    font-family: "Work Sans", sans-serif;
    color: rgba(19, 19, 19, 0.8);
}

.header-font {
    font-family: "Playfair Display", serif;
}

.green-btn {
    background-color: #23BE0A;
    color: white;
}

.green-btn:hover {
    background-color: #188607;
}

.secondary-btn {
    background-color: #59C6D2;
    color: white;
}

.secondary-btn:hover {
    background-color: #3d9099b8;
}

a.active > button {
    background-color: white;
    color: #23BE0A;
    border-color: #23BE0A;
}

html {
    scroll-behavior: smooth;
}