@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles  */
.display-flex {
    display: flex;
}

.text-gray { /* text gray is DARK 2*/
    color: #424242;
}

.text-light-gray { /* text light gray is DARK 3*/
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}



/* nav styles  */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 100px 0px
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none; 
    font-weight: 500;
}

/* banner content styles  */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-image {
    width: 100%;
}

.banner-discription, .feature-description, .feature-showcase-text,.sponsor-text, .facts-para {
    margin: 30px 0px 30px 0px;     
}

/* designing main  */
main {
    max-width: 1440px;
    margin: 0px auto
}

main > section {
    margin-top: 130px;
}

.teams {
    align-items: center;
}

.our-features {
    margin-left: 73px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

#quick-list {
    font-weight: 500;
    font-size: 2.8rem;
}

#of-our, #features {
    font-size: 2.8rem;
    font-weight: 700;
}

#features {
    color: rgba(255, 144, 14, 1);
}


/* designing the facts  */
.fact-title, .title-numbers, .sponsors-title, .feature-showcase-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.facts-card-container {
    justify-content: space-between;
}

.fact-card {
    border: 1px solid rgba(255, 144, 14, 1);
    height: 150px;
    width: 168px;
    padding: 45px 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-numbers {
    margin: 0px;
}

/* styling feature showcase  */
.feature-showcase-title {
    border-left: 5px solid rgba(255, 144, 14, 1); 
    padding-left: 20px;
}

.feature-showcase-card-container {
    height: 740px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature-showcase-card > h1 {
    font-weight: 600;
    font-size: 1.25rem;

}

.xp-btn {
    height: 200px;
    width: 350px;
    margin-top: -130px;
    margin-left: -100px;
    padding: 0px;
}

.big-text {
    font-size: 4rem;
    margin: 0px;
}

.features-showcase {
    gap: 100px
}

/* styling sponsor  */
.sponsors {
    text-align: center;
}
.sponsor-text {
    width: 542px;
    margin-left: auto;
    margin-right: auto;
}

.sponsors-logo-container {
    margin-top: 50px;
    filter: grayscale(100%);
    justify-content: space-between;
}

/* designing Footer  */
footer {
    height: 100px;
    max-width: 1440px;
    margin: 130px 240px 216px 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    font-size: 1.25rem;
}

/* making header responsive  */
@media screen and (max-width: 725px) {
    .navbar, .nav-links, .teams, .facts-card-container {
        flex-direction: column;
        align-items: center;
        gap: 10px
    }

    .sponsor-text {
        width: 100%;
    }

    .team-img-container  {
        grid-template-columns: repeat(1, 1fr);
    }

    .sponsors-logo-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 40px;
    }
    .features-showcase {
        flex-direction: column;
    }

    .feature-showcase-img-container {
        display: flex;
        justify-content: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
    .feature-showcase-img-container > img {
        width: 100%;
    }

    .xp-btn {
        margin: 0px;
        height: 150px;
        width: 200px;
    }
    .big-text {
        font-size: 2rem;
    }

    footer {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    footer > p {
        font-size: 1rem;
        text-align: center;
    }
}   

@media screen and (max-width: 1180px) and (min-width: 726px) {
    .teams {
        flex-direction: column;
    }
    .feature-showcase-img-container >img {
        width: 100%;
    }
    
    .features-showcase {
        flex-direction: column;
    }

    .feature-showcase-img-container {
        display: flex;
        justify-content: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
    }

    .xp-btn {
        margin: 0px;
        height: 150px;
        width: 200px;
    }
    .big-text {
        font-size: 2rem;
    }


    .facts-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-items: center;
        align-items: center;
    }

    .our-features {
        margin-top: 20px;
        text-align: center;
    }

    .sponsors-logo-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 40px;
    }
    .sponsor-text {
        width: 100%;
    }

    footer {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    footer > p {
        font-size: 1.5rem;
        text-align: center;
    }
}